/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Philosopher:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

body {
    background-color: #fff;
}

/* Navbar Styling  */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif !important;
}

.para {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    line-height: 30px !important;
}

nav.navbar {
    border-bottom: 1px solid #dce1e4;
    background-color: #fff !important;
}

nav.navbar .nav-link {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #014090;
    padding: 0px 25px !important;
    text-transform: uppercase;


}

.navbar-nav ul.dropdown-menu.show {
    left: 20px;
    border-color: #014090;
}

/* Calendar styling  */

.prayer-calendar {
    padding: 80px 0px 50px 0;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif !important;
    color: #014090;
}

.navbar-nav .dropdown-item.active, .dropdown-item:active {
    background: #014090;
}


.navbar-nav .dropdown-item:focus, .dropdown-item:hover {
    background: #014090 !important;
    color: white !important;
}



/* imam name sec styling  */

.imam-color1 {
    width: 20px;
    height: 20px;
    background: rgb(255, 235, 56);
}

.imam-color2 {
    width: 20px;
    height: 20px;
    background: rgb(0, 143, 55);
}

.imam-name-sec h3{
    color: #014090 !important;
}

.imam-name{
    margin: 0 !important;
    color: #000;
    margin-right: 20px !important;
}

/* *********************************** Calendar Styling *************************************  */


/* .ftco-section {
    padding: 60px 0;
} */

.ftco-section .ftco-no-pt {
    padding-top: 0;
}

.ftco-section .ftco-no-pb {
    padding-bottom: 0;
}

.ftco-section .heading-section {
    font-size: 28px;
    color: #000;
}

.ftco-section .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftco-section .elegant-calencar {
    max-width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 3px 26px #80808059;
}

.ftco-section .wrap-header {
    position: relative;
    width: 20%;
    z-index: 0;
    padding: 22.5px !important;
    background-color: #e7eff6;
}

/* .ftco-section .wrap-header:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #67BCFF;
    opacity: .5;
    z-index: -1;
} */



@media (max-width: 767.98px) {
    .ftco-section .wrap-header {
        width: 100%;
        padding: 20px 0;
    }
}

.ftco-section #header {
    width: 100%;
    position: relative;
}


.ftco-section #header .pre-button,
.ftco-section #header .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
}

.ftco-section #header .pre-button i,
.ftco-section #header .next-button i {
    color: #fff;
}

.ftco-section .pre-button {
    left: 5px;
}

.ftco-section .next-button {
    right: 5px;
}

.ftco-section .button-wrap {
    position: relative;
    padding: 10px 0;
}

.ftco-section .button-wrap .pre-button,
.ftco-section .button-wrap .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    font-size: 18px;
}

.ftco-section .button-wrap .pre-button i,
.ftco-section .button-wrap .next-button i {
    color: #014090;
}

.ftco-section .button-wrap .pre-button {
    left: 20px;
}

.ftco-section .button-wrap .next-button {
    right: 20px;
}

.ftco-section .head-day {
    display: none;
    font-size: 9em;
    line-height: 1;
    color: #014090;
    font-weight: 700;
}

.ftco-section .head-month {
    line-height: 1;
    color: #014090;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.ftco-section .calendar-wrap {
    width: 100%;
    background-color: #fff;
}

.calendar-sec{
    margin-top: 80px !important;
}

@media (max-width: 767.98px) {
    .ftco-section .calendar-wrap {
        width: 100%;
    }
}

.ftco-section #calendar {
    width: 100%;
}

.ftco-section #calendar tr {
    height: 4em;
}

.ftco-section thead tr {
    color: #014090;
    font-weight: 700;
}

.ftco-section tbody tr {
    color: #000;
}

.ftco-section tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
}

.ftco-section tbody td:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
    .ftco-section tbody td:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.ftco-section tbody td:hover,
.ftco-section .selected {
    color: #fff;
    border: none;
}

.ftco-section tbody td:hover:after,
.ftco-section .selected:after {
    background: #67BCFF;
}

.ftco-section tbody td:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.ftco-section #today {
    color: #fff;
    font-weight: 500;
}

.ftco-section #today:after {
    background: #014090;
}

.my-cl-header .head-month {
    background-color: white;
    font-size: 20px;
}

.ftco-section #disabled {
    cursor: default;
    background: transparent;
}

.ftco-section #disabled:hover {
    background: transparent;
    color: #c9c9c9;
}

.ftco-section #disabled:hover:after {
    background: transparent;
}

.ftco-section #reset {
    display: none;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgb(1 64 144);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgb(1 64 144);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
}

.ftco-section #reset:hover {
    color: #fff;
    border-color: #fff;
}

.ftco-section #reset:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.blur-background {
    padding: 40px 20px 20px 20px;
    background-color: rgb(255 255 255 / 15%);
    backdrop-filter: blur(5px);
}

.table.pray-times>:not(caption)>*>* {
    padding: 22.5px;

}

.ftco-section tr td {
    font-size: 22px;
    font-weight: 500;
}

.table.pray-times tbody {
    box-shadow: 0px 3px 26px #80808059;
}

td.pray-name {
    font-weight: bold;
}

table.pray-times th {
    background: #67BCFF;
}

table.table.pray-times tr {
    border-color: #013f902b;
}

h2.bottom-line {
    position: relative;
}

h2.bottom-line::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 2px;
    bottom: -17px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #014090;
    border-radius: 100%;
}






/* footer styling  */

.footer * {
    color: black !important;
}

ul.social-icon {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul.social-icon svg {
    width: 30px;
}

.fooer-icon a {
    margin-right: 20px;
}

.footer {
    background-color: #e7eff6;
}

.footer-copyright {
    background: #67BCFF;
    color: #fff !important;
}

ul.footer-icon li {
    position: relative;
    padding-left: 35px !important;
}

ul.footer-icon li::before {
    font-family: "FontAwesome";
    font-size: 28px;
    position: absolute;
    left: -11px;
    top: -6px;
}

ul.footer-icon li:nth-child(1)::before {
    content: "\f095";
}

ul.footer-icon li:nth-child(2)::before {
    content: "\f0e0";
}

ul.footer-icon li:nth-child(3)::before {
    content: "\f041";
}

ul.footer-icon {
    list-style: none;
    padding-left: 11px;
}

ul.footer-icon li a {
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul.footer-icon li {
    text-decoration: none;
    margin-bottom: 35px;
}

.footer h3 {
    font-size: 35px;
    position: relative;
}

.footer h3::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: #67BCFF;
    left: 0;
    bottom: -9px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px #67BCFF;
}

.product-list ul.footer-icon li::before {
    display: none;
}

.product-list ul.footer-icon {
    list-style: disc;
}

.product-list ul.footer-icon li {
    padding: 0 !important;
    margin-bottom: 10px !important;
}





/* Responsive Styling  */



@media only screen and (max-width: 1024px) {
    .table.pray-times>:not(caption)>*>* {
        padding: 21.5px 10px;
    }
    .ftco-section tr td {
        font-size: 16px;
    }
    .ftco-section tbody td:after{
        width: 30px !important;
        height: 30px !important;
    }
    table#calendar tr th {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .table.pray-times>:not(caption)>*>* {
        padding: 21.5px;
    }
    .footer .col-lg-4.ps-5 {
        padding-left: 0 !important;
        margin: 39px 0px 39px 20px;
    }
}

@media only screen and (max-width: 690px) {
    section.prayer-calendar h2 {
        font-size: 25px !important;
    }
    a.prayer-tab {
        font-size: 17px !important;
        padding: 4px 12px 4px 13px !important;
    }
    .navbar-nav ul.dropdown-menu.show {
        left: -38px;
        border-color: #014090;
        position: absolute;
    }
}

@media only screen and (max-width: 414px) {

    li.nav-item .nav-link {
        padding: 0 !important;
    }
    .navbar-nav ul.dropdown-menu.show {
        left: -67px;
        border-color: #014090;
        position: absolute;
    }

}




button.btn.btn-primary.btn-sm.lead-pray-btn {
    background: #ffffff;
    border-color: #014090;
}

.badge-secondary{
    display: inline-block;
    background-color: orange;
    padding: 8px;
    font-size: 13px;
}

#fridayCalendar{
    display: none;
}


a.prayer-tab {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: 2px solid #014090;
    cursor: pointer;
    color: #014090;
}

a.prayer-tab.active{
    background-color: #014090;
    color: white;
}

a.navbar-item, li.nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #014090;
    text-decoration: none;
}

td.lead-pray-btn {
    cursor: pointer;
    border: 1px solid #e1e1e1;
}


/* auth styling  */
div#app .card{
    margin-top: 140px;
}

div#app .card .card-header {
    background: #014090;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

div#app .card .card-body {
    background-color: white !important;
    padding: 60px;
}

div#app .form-control {
    border-radius: 0px !important;
    background: transparent;
    border-color: #014090;
}


div#app button.btn-primary {
    background: #014090;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
    border-color: #014090 !important;
    transition: 0.5s;
}

div#app button.btn-primary:hover{
    background-color: #67BCFF;
}

div#app .form-control:focus {
    box-shadow: 0px 0px 3px #014090;
}

div#app .form-check-input:checked {
    background-color: #014090;
}

form label.col-form-label {
    font-size: 18px !important;
}

td.lead-pray-btn-disabled{
    cursor: pointer;
    border: 1px solid #e1e1e1;
}

.head-month {
    font-size: 27px;
    font-weight: bold;
    color: white;
    background: #014090;
}
button.btn.btn-primary {
    background: #014090;
    border-color: #014090;
}

a.btn.btn-danger {
    background: #fd0202;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
    border-color: #014090 !important;
    transition: 0.5s;
}